name: Java Build

on:
  push:
    branches: [ master, develop ]
    paths:
      - 'managementprojecteconomy/backend/**'
      - '.github/workflows/java-build.yml'
  pull_request:
    branches: [ master, develop ]
    paths:
      - 'managementprojecteconomy/backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      working-directory: ./managementprojecteconomy/backend
      run: ./mvnw clean package -DskipTests
    
    - name: Run tests
      working-directory: ./managementprojecteconomy/backend
      run: ./mvnw test
